<!DOCTYPE html>

<html>
  
  <head>
    <title><%= title %></title>
    <meta name="description" content="My personal website!">
    <meta name="keywords" content="elasticspark, cats">
    <meta name="author" content="Thomas Oberlin">
    <%- include('head.ejs'); %>
    <script src="scripts/messages.js"></script>
    <script>isLoggedIn();</script>
  </head>
  
  <body>

    <%- include('navbar.ejs'); %>
 
    <div class="main">

      <h1><%= title %>!</h1>

      <div class="flexparent">
        
          <form class="input" action="/messages" method="POST" onsubmit="getData()" class="inline">
            <label for="reciever">Who are you sending this message to?</label> <br>
            <input name="reciever" id="reciever" required> <br>
            <label for="text">Input Message</label> <br>
            <textarea name="text" id="text" rows="4" col="50" required></textarea> <br>
            <input type="submit" onclick="getData()" value="Fire The Cannon!">
          </form> 
        
          <script>loadLast("reciever");</script>
        
        
        <div class="messageDisplay">
          <p id="output"></p>
        </div>
      </div>
    </div>
    <script>saveMessage('<%= message %>');</script>
  </body>
</html>
