<!DOCTYPE html>

<html>
  
  <head>
    <title><%= title %></title>
    <meta name="description" content="My personal website!">
    <meta name="keywords" content="elasticspark, cats">
    <meta name="author" content="Thomas Oberlin">
    <%- include('head.ejs'); %>
    <script src="scripts/messages.js"></script>
    
  <head/>
  
  <body>

    <%- include('navbar.ejs'); %>
 
    <div class="main">

      <h1><%= title %>!</h1>

      <div class="flexparent">
        <div class="input">

          <form action="/messages" method="POST" onsubmit="getUsername()" class="inline">
            <label for "username">Input username.</label> <br>
            <input name="username" id="username" required> <br>
            <input type="button" onclick="getUsername()" value="Set Username!"> <br>
            <label for="reciever">Input target username.</label> <br>
            <input name="reciever" id="reciever" required> <br>
            <label for="text">Input Message</label> <br>
            <textarea name="text" id="text" rows="4" col="50" required></textarea> <br>
            <input type="submit" onclick="getUsername()" value="Fire The Cannon!">
          </form> 
        </div>

        <script>loadLast("username"); loadLast("reciever");</script>
        
        <div class="messageDisplay">
          <p><%= message %></p>
        </div>
      </div>
    </div>
</html>
